:root {
  --main-color: #FFF;
  --grey: #FFFFFF99;
  --grey2: #7F7F7F;
  --red: #FF291C;
  /* --hover: linear-gradient(88.87deg, #FF271A 0.25%, #FF5609 82.13%); */
  --hover: linear-gradient(247deg, #FF7B1C 19.48%, #FF601C 40.24%, #FF291C 71.13%, #FF0F00 97.4%);
  --main-font: 'Fahkwang', sans-serif;
  --dm-font: 'DM Sans', sans-serif;
}

body {
  padding: 0;
}

.what-we-do__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-we-do__entry-text {
  text-align: center;
  max-width: 950px;
}
.what-we-do__entry-img {
  width: 100%;
}
.what-we-do-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-we-do__item {
  padding: 60px 0;
  border-top: 2px solid #FFFFFF99;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.what-we-do__item--left-container,
.what-we-do__item--right-container {
  width: 40%;
 
}
.what-we-do__item--grid-container {
  display: grid;
}
.what-we-do__item--image-container {
  position: relative;
  display: flex;
}
.what-we-do__item--title {
  text-transform: uppercase;
}
.what-we-do__item--title {
  font-size: 36px;
  margin-top: 0;
}
.what-we-do__item--description {
  margin-top: 0;
}
.what-we-do__item--title-main {
  font-size: 50px;
}
.what-we-do__item--description,
.what-we-do__item--list {
  font-family: 'DM Sans', sans-serif;
}
.what-we-do__item--img {
  width: 100%;
}
.what-we-do__item--float-img {
  max-width: 50%;
  position: absolute;
  top: 30%;
  left: -20%;
}
.what-we-do__clients-img-container {
  width: 50%;
}
.what-we-do__clients-img {
  width: 100%;
  height: 100%;
}
.what-we-do__clients-comment-container {
  width: 40%;
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.what-we-do__clients-comment-container--name {
  justify-self: baseline;
}
.what-we-do__clients-comment-container--comment {
  font-size: 28px;
  margin-top: 50px;
}
.button-margin {
  margin-top: 60px;
}

.mobile {
  display: none;
}

.what-we-love__container {
  justify-content: space-around;
}
.what-we-love__image-container {
  position: relative;
  margin-left: 50px;
}
.what-we-love__float-img, 
.what-we-love__float-arrow {
  position: absolute;
}
.what-we-love__float-img {
  bottom: -94px;
  left: -75px;
  max-width: 80%;
}
.what-we-love__float-arrow {
  bottom: -156px;
  right: -168px;
}
.what-we-love__text-container {
  font-family:'DM Sans', sans-serif;
  font-size: 24px;
}
.what-we-love__text-container p:first-child {
  font-family:'Fahkwang', sans-serif;
  text-transform: uppercase;
}
.what-we-love__text-container p {
  padding: 10px 0 40px 0;
  border-bottom: 2px solid #FFFFFF99;
}

.how-we-move__container{
  margin-top: 200px;
}
.how-we-move__inner-container {
  position: relative;
  align-items: center;
}
.how-we-move__text-container {
  max-width: 620px;
  position: relative;
  z-index: 2;
}
.how-we-move__text-container--title {
  text-transform: uppercase;
}
.how-we-move__text-container--description {
  font-family: 'Fahkwang', sans-serif;
  font-size: 32px;
}
.how-we-move__video-container {
  width: 80%;
  height: 100%;
  background-color: black;
  position: absolute;
  right: 0;
}

.core-values__left,
.core-values__right {
  width: 50%;
}
.core-values__float-container {
  position: relative;
}
.core-values__float-text-1,
.core-values__float-text-2,
.core-values__float-text-3,
.core-values__float-text-4,
.core-values__float-text-5 {
  position: absolute;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}
.core-values__float-text-1 {
  top: 10%;
  left: 14%;
}
.core-values__float-text-2 {
  top: 17%;
  right: 0;
}
.core-values__float-text-3 {
  top: 30%;
  right: 40%;
}
.core-values__float-text-4 {
  bottom: 32%;
  right: -15%;
}
.core-values__float-text-5 {
  bottom: 24%;
  left: 17%;
}
.core-values__left--img {
  width: 100%;
}
.core-values__float-image {
  position: absolute;
  bottom: 0;
  left: 30%;
}


.who-we-support__container {
  align-items: center;
  justify-content: unset;
}
.who-we-support__img-container {
  margin-right: 20px;
}
.who-we-support__img {
  width: 100%;
}
.who-we-support__text-container p {
  text-transform: uppercase;
}
.who-we-support__text-container span {
  font-size: 32px;
  margin-right: 6px;
  cursor: pointer;
}
.who-we-support__text-container span:hover {
  text-decoration: underline;
}

.take-a-look__item-container {
  margin: 60px 0;
  cursor: pointer;
}
.take-a-look__item--img-container {
  position: relative;
  overflow: hidden;
}
.take-a-look__item--img {
  width: 100%;
}
.take-a-look__item-text-container--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #FFFFFF99;
}
.take-a-look__item--title {
  font-size: 40px;
  text-transform: uppercase;
}
.take-a-look__item--tags {
  margin: 20px 0;
  text-transform: uppercase;
}
.take-a-look__article-item__hovered-img--container {
  position: absolute;
  bottom: 78px;
  right: 75px;
  z-index: 2;
}
.take-a-look__article-item__hovered-bg {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(319.32deg, #FF7B1C 17.15%, #FF601C 35.71%, #FF291C 63.33%, #FF0F00 86.82%);
  filter: blur(35px);
  bottom: -460px;
  right: -127px;
  z-index: 1;
  transition: all 0.4s;
}
.take-a-look__item-container:hover .take-a-look__article-item__hovered-bg {
  bottom: -88px;
  right: -77px;
}
.take-a-look__item-container:hover .article-item__hovered-img--circle {
  opacity: 1;
}


.case-page__about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.case-page__about--text-container {
  max-width: 800px;
}
.case-page__about--title {
  font-size: 16px;
}
.case-page__about--description {
  font-family: var(--dm-font);
  font-size: 32px;
}
.case-page__about--sub-description {
  font-family: var(--dm-font);
}
.case-page__comment-container {
  width: 80%;
}
.case-page__comment-container--img-container {
  width: 50%;
}
.case-page__comment-container--img-container img{
  width: 100%;
}
.case-page__comment-container--text-container {
  max-width: 500px;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  font-family: var(--dm-font);
  justify-content: space-between;
}
.case-page__comment-container--text-container p {
  margin-top: 0;

}
.case-page__comment-container--text-container p:last-child {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 0;
}
.case-page__sketching--text-container {
  width: 40%;
  font-size: 24px;
  text-transform: uppercase;
}
.case-page__sketching--text-container p:last-child {
  font-family: var(--dm-font);
  text-transform: math-auto;
}
.case-page__tour-visuals ul{
  font-size: 24px;
  font-family: var(--dm-font);
  margin-bottom: 20px;
}

.bordered-container {
  border-top: solid 1px #FFFFFF99;
  padding: 30px 0;
}
.max-width-600 {
  max-width: 600px;
}
.case-page__img {
  width: 100%;
}
.width-50per {
  width: 50%;
}

.max-width-container {
  max-width: 1000px;
}

@media (max-width: 1140px) {
  .core-values__float-image {
    left: 15%;
  }
}
@media (max-width: 1024px) {
  .what-we-do__item {
    flex-direction: column;
    margin-top: 0;
  }
  .what-we-do__item--left-container,
  .what-we-do__item--right-container,
  .what-we-do__clients-img-container,
  .what-we-do__clients-comment-container {
    width: 100%;
  }   
  .what-we-do__item--image-container {
    width: 80%;
    justify-self: right;
    margin-top: 20px;
  }
  .what-we-do__item--left-container {
    display: flex;
    flex-direction: column;
  }
  .button-margin {
    align-self: center;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .what-we-love__float-arrow {
    display: none;
  }
  .what-we-love__float-img {
    max-width: 106px;
    bottom: 106px;
    left: -54px;
  }
  .what-we-love__text-container {
    width: 100%;
  }
  .what-we-love__img {
    width: 100%;
  }
  .how-we-move__video-container {
    position: static;
    width: 100%;
    height: 600px;
  }
  .how-we-move__text-container--description {
    font-size: 20px;
  } 
  .core-values__left,
  .core-values__right {
    width: 100%;
  } 

  .core-values__float-text-1 {
    left: 10%;
  }
  .core-values__float-text-2 {
    right: 13%;
  }
  .core-values__float-text-3 {
    right: 44%;
  }
  .core-values__float-text-4 {
    right: 5%;
    bottom: 36%;
  }
  .core-values__float-image {
    left: 0;
    width: 80%;
  }
  .who-we-support__text-container {
    align-self: baseline;
  }
}

@media (max-width: 650px) {
  .core-values__float-text-1,
  .core-values__float-text-2,
  .core-values__float-text-3,
  .core-values__float-text-4,
  .core-values__float-text-5 {
    font-size: 20px;
  }
  .take-a-look__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .take-a-look__item--title {
    font-size: 28px;
  }
  .take-a-look__article-item__hovered-img--container,
  .take-a-look__article-item__hovered-bg {
    display: none;
  }
}

@media (max-width: 460px) {
  .what-we-do__item--title-main {
    font-size: 30px;
  }
  .what-we-do__item--title {
    font-size: 26px;
  }
  .take-a-look__item--title {
    font-size: 20px;
  }
}